body{
    font-family:Arial, Helvetica, sans-serif
}
h1,footer{
    background-color:aquamarine;
    width: 400px;
    height: 250;
}
.topic{
    color:red;
}
#images{
    box-shadow:0 0 2px 1px black;
}
li:nth-child(2n-1){
    background-color:orange;
    width: 60px;
    height:20px;
}
nav{
    background-color:cadetblue;
    width: 60px;
    height:20px;
    border:darkblue 2px ridge;
}
a:hover{
    background-color:pink;
    color:rebeccapurple;
}