/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/********** FONT IMPORT *********/

/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/*********** CONTENT **********/
html{
    font-size:16px;
    font-family: 'Open Sans' , sans-serif;
}
.container{
    width:100vw;
    height:100vh;
    margin:10px;
}

/********** HEADER ************/
header{
    position:relative;
    /*padding:10px;*/
    margin:5px 0;

    /* display:flex;
    flex-direction:row; */
   background-color:#222;
}
.logo_box{
    /* display:flex; */
    background-color:#c78c06;
    display:block;
}
.header_logo{
    /*position:absolute;*/
    /* margin:10px; */
    /* display:block;*/
    /* background-color: #c78c06;*/
   
}
/********** NAV ***************/
ul{
    /* background-color:#222; */
    /* display:flex; */
    flex-direction:column;
    /* margin:10px;*/
    text-align:center;
}
li{
    /* background-color:aqua; */
    /* padding:10px; */
    flex-grow:1;
    flex-basis: 0;
    text-align: center;
    font-size:24px;
    display:block;
    justify-content:space-evenly;
   /* margin:10px; */
    width:100%;
}

a{
    color:#c78c06;
    text-decoration:none;
    display:block;
    /*font-weight:bold;*/
    padding:10px;
    /* background-color:#c78c06; */
}

.active{
    background-color:#c78c06;
    color:#222;
    width:97.8%;
    padding:10px;

}
.search_bar{
    /*background-color: tomato;*/
    /*display:flex;*/
    flex-wrap:wrap;
    flex-direction: row;
    flex-basis:0;
    flex-grow:1;
    width:100%-2px;
    padding:10px;
    justify-content:center;
}
#search{
    /* margin:10px; */
    padding:10px;
    font-size:17px;
    float:left;
    /*display:flex;*/
    width:80%;
}
.icon-zoom{
    color:#c78c06;
    border: 2px solid #c78c06;
    /* display:flex; */
    padding:10px;
    width:20px;
    /* background: #222; */
    font-size:17px;
    position:relative;
} 
/******** BANNER ****************/ 
.banner_text{
    background-color:rgba(34, 34, 34, 0.619);
    position:absolute;
    top: 50px;
    color:white;
    /* display:inline-block;*/
    width: 98.5%;
    padding: 10px;
    /* text-align:center; */
}
/************ IMAGES *************/
.header_image{
    width:100%;
}
.about_image{
    width:100%;
}
.digital_image{
    width:100%;
}
.marketing_image{
    width:100%;
}
.video_image{
    width:100%;
}
.web_image{
    width:100%;
}
.print_image{
    width:100%;
}
.vision_image{
    width:100%;
}
.john_image{
    width:100%;
}
.bob_image{
    width:100%;
}
.banner_container{
    position:relative;
}
/******* BODY *******************/
/*body{
    width: 1200px;
    margin: 0 auto;
} */

main{
    /* padding:0 10px; */
}
h1{
    font-size:64px;
    font-weight:bold;
    padding:10px;
    margin-bottom:10px;
}
h2{
    font-size:32px;
    font-weight:bold;
    padding:10px;
    margin-bottom:10px;
}
h3{
    font-size:26px;
    font-weight:bold;
    padding:10px;
    margin-bottom:10px;
}

h5{
    font-size: 16px;
    font-weight:bold;
    margin-bottom:10px;
    padding:10px;
    border-bottom: 2px solid #c78c06;
    border-color:#c78c06;
}

h4{
    font-size: 16px;
    font-weight:bold;
    margin-bottom:10px;
    padding:10px;
}
section{
    padding:10px;
    margin:5px 0;
    background-color:#ffe6ac;
}
p{
    display:inline;
    padding:10px;
    margin: 10px;
    line-height: 1.5;
}
footer{
    color:#c78c06;
    text-align:left;
    padding: 10px;
    background-color:#222;
}
button{
    background-color:#222;
    border:none;
    color:white;
    /* padding: 10px;*/
    text-align: center;
    text-decoration: none;
    /* display: inline-block;*/
    font-size:16px;
    /* margin:10px; */
    }
#connect_button{
    background-color:#c78c06;
    border: none;
    color:#222;
    padding: 32px 15px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    margin:20px;
}
.vision_container{
    position:relative;
}
.vision_text{
    position:absolute;
    top:50px;
    color:white;
    /* display:inline-block; */
}

#learn_button{
    background-color:#222;
    border:2px solid #c78c06;
    color:white;
    padding:15px 32px;
    text-align: center;
    display: block;
    font-size: 26px;
    margin:20px;
}
.icon-right{
    padding:10px;

}
.services{
    display:flex;
}
.contact_us{
    /* background-color: turquoise; */
    padding:10px;
}
.form_box{
    /*padding:5px;*/
}
#fullname{
    display:flex;
    width:99%;
    /*flex-basis:0;
    flex-grow:1;*/
   margin: 10px;

}
#email{
    display:flex;
    margin: 10px;
    width:99%;
}
#message{
    display:flex;
    margin: 10px;
    width:99%;
}
#submit{
    display:flex;
    background-color:#222;
    color:#c78c06;
   margin: 10px;
    font-size:17px;
    font-weight:bold;
}
.table{
    background-color:white;
}
table{
   /* background-color: wheat; */
    border: 1px solid black;
    width:100%;
}
thead{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    padding:10px;
    background-color:#ffe6ac;
}
td{
    border: 1px solid black;
    padding:10px;
}
/******* DESKSTOP STYLING *************/

@media screen and (min-width:760px){
    .container{
        margin:0 auto;
        width:80%;
        max-width:1200px;
    }
    .desktop_header{
        /*display:grid;
        /*grid-template-columns: 1fr 1fr 1fr;*/
        width: 100%;
        position:relative;
        padding:80px;

    }
    .logo_box{
        display:inline-block;
        background-color:#222;
        position: absolute;
        top: 20px;
        left: 40px;
        bottom: 50px;
    }
    ul{
        /* background-color: indianred;*/
        display:flex;
        flex-direction: row;
        /* display:inline-block; */
        padding:10px;
        justify-items:space-around;
        position:absolute;
        top: 30px;
        left: 160px;
        width:50%;

    }
    li{
        display:flex;
        flex-direction:row;
        /*background-color: aqua;*/
        justify-content:space-around;
        font-size: 16px;
        padding:10px;

    }
    a{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    } 
    .search_bar{
        /*background-color:aquamarine;*/
        display:flex;
        /*display:inline-block;*/
        /*flex-direction: row;*/
        top:45px;
        left:750px;
        flex-direction:row;
        position:absolute;
        padding:0px;
        /*width:50%;*/

    }
    .search_button{
        display:flex;
        padding:0px;
        position:absolute;
        top:-10px;
        left:180px;
    }
    /*#search{
        display:inline-block;
    } */
   /*#search_form{
        display:flex;
    }*/
    .banner_text{
        width:90%;
        display:block;
        justify-items: center;
        margin:20px;
        margin-left: 30px;
        padding: 10px;
    }
    h1{
        font-size: 32px;
    }
    .about_content{
        display: flex;
        align-content: space-between; 
    }
   .about_image{
        width:30%;
        margin-left: 30px;
        padding:10px;
        display:flex;
        flex-direction:row;
        float:left;
        display:flex;
        flex-wrap:wrap;
        display:column;
    }
    .about_text{
        display:flex;
        display:inline-block;
       /* background-color: indianred; */
        flex-direction:column;
    }
/*************** OUR SERVICES **************************/
    h2{
        margin-left:40px;
        padding:10px;
    }
    button{
        padding:10px;
    }
    .all_services{
        width: 85%;
        /*padding:5px;*/
        margin: 0 auto;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        align-items:center;
        gap: 0.5em 0.5em;
    }
    .services_1{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .services_2{
        grid-column-start: 4;
        grid-column-end: 7;
    } 
    .services_3{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .services_4{
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .services_5{
        grid-column-start: 5;
        grid-column-end: 7;
}
/*********** OUR TEAM *************************************/
.john_image{
    width:50%;
    display:flex;
}

.john_section{
    display:flex;
    flex-direction:row;
}
.john_details{
    padding:4px;
}
.john_name{
    /*display:inline-block;*/
}

.bob_section{
    display:flex;
    flex-direction: row-reverse;
}
.bob_details{
    padding:4px;
}

.bob_image{
    width:50%;
    /*display:flex;*/
    /*float:right;*/
    /*justify-content: flex-start;*/
}
.bob_name{
    /*background-color: aqua;
    /* display:flex; */
    /*justify-content:flex-start;*/
    order:4;
}
.bob_title{
    display:flex;
    order:3;
}
.bob_text{
    display:flex;
    flex-direction: row-reverse;
}
.lower_section{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 100px; */
    gap:0.5em;
}
.contact_us{
   /* background-color: lawngreen; */
    display:grid;
    grid-column-start: 1;
    grid-column-end: 3;
}
.table{
    display:grid;
    order: 3;
    grid-column-start:1;
    grid-column-end: 5;
    padding:10px;

}
.mapEmbed{
    display:grid;
    grid-column-start: 3;
    grid-column-end: 6;
    width:100%;
}
iframe{
    width:100%;
}
.digital_button{
    background-color: #222;
}
.marketing_button{
    background-color: #222;
}
.video_button{
    background-color: #222;
    /*justify-content: center;
    align-items: center;*/
}
.web_button{
    background-color: #222;
}
.print_button{
    background-color: #222;
}
.print_button_in{
    width:100%;
}
/*button{
    width:100%;
}*/

}